@import "vars";
@mixin buttons {
  background-color: $secondaryColor;
  color: $whiteText;
  padding: 2rem;
  transition: all ease 0.3s;
  border: none;
  &:active {
    transform: scale(0.96);
    background-color: $secondaryHover;
    border: none;
  }
  &:hover {
    box-shadow: $shadowBtn;
  }
}
