@import "vars";
@mixin buttons {
  background-color: $secondaryColor;
  color: $whiteText;
  padding: 2rem;
  transition: all ease 0.3s;
  border: none;
  &:active {
    transform: scale(0.96);
    background-color: $secondaryHover;
    border: none;
  }
  &:hover {
    box-shadow: $shadowBtn;
  }
}

@mixin defaultRowCenter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@mixin navBarHidden {
  position: absolute;
  left: -300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 15rem;
  height: 100%;
  top: 0;
  z-index: 1;
  background: rgba(96, 24, 251, 0.441);
}
@mixin navBarShowing {
}
@mixin transition {
  transition: all ease 0.3s;
}
