$textColor: #2162a6;
$NavColor: #6018fb2a;
$whiteText: #fff;
$textColorHover: #2e57ed;
$principalColor: #5007ed;
$secondaryColor: #6a2ab0;
$secondaryHover: #6a2eb0;
$blackColor: #131415;
$navFont: "JetBrains Mono", sans-serif;
$shadowBtn: 4px 5px 14px 5px rgba(67, 62, 219, 0.303);
