$textColor: #2162a6;
$NavColor: #6018fb2a;
$textColorHover: #2e57ed;
$principalColor: #5007ed;
$secondaryColor: #6a2ab0;
$secondatyHover: #6a2eb0;
$blackColor: #131415;
$navFont: "JetBrains Monos", sans-serif;
